version: "3.8"

services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:${ELASTIC_VERSION}
    container_name: elasticsearch
    environment:
      - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
      - discovery.type=single-node
      - ES_JAVA_OPTS=${ES_JAVA_OPTS}
      - cluster.name=es-docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false

    volumes:
      - es-data:/usr/share/elasticsearch/data

    ports:
      - "9200:9200"

    ulimits:
      memlock:
        soft: -1
        hard: -1

    networks:
      - elasticsearch

    healthcheck:
      test: curl -s http://elasticsearch:9200 >/dev/null || exit 1      
      interval: 20s
      timeout: 10s
      retries: 20

    restart: unless-stopped


  kibana:
    image: docker.elastic.co/kibana/kibana:${ELASTIC_VERSION}
    container_name: kibana
    depends_on:
      elasticsearch:
        condition: service_healthy

    environment:
      SERVER_PUBLICBASEURL: "http://localhost:5601"
      ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"

      # Auth instead of enrollment token
      ELASTICSEARCH_USERNAME: "elastic"
      ELASTICSEARCH_PASSWORD: "${ELASTIC_PASSWORD}"
      XPACK_SECURITY_ENROLLMENT_ENABLED: false
      ELASTICSEARCH_SSL_VERIFICATIONMODE: "none"

    ports:
      - "5601:5601"
    
    restart: unless-stopped

    networks:
      - elasticsearch

volumes:
  es-data:

networks:
  elasticsearch:
    driver: bridge
