server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: member-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/member/**
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/products/**
        - id: cart-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/v1/cart/**