server:
  port: 8084

spring:
  application:
    name: api-gateway
  datasource:
    url: jdbc:postgresql://localhost:5432/members
    username: testacc2
    password: testacc2
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  cloud:
    gateway:
      routes:
        - id: member-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/members/**
        - id: product-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/products/**
        - id: cart-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/carts/**
          filters:
            - JwtValidation