spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: product-route
              uri: http://localhost:8082
              predicates:
                - Path=/api/products/**
              filters:
                - StripPrefix=1
            - id: cart-route
              uri: http://localhost:8081
              predicates:
                - Path=/api/carts/**
              filters:
                - StripPrefix=1
            - id: register-route
              uri: http://localhost:8083
              predicates:
                - Path=/api/auth/register
                - Method=POST