server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      default-filters:
        - RemoveRequestHeader=Cookie
      routes:
        - id: member-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/member/**
          filters:
            - StripPrefix=3
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/v1/products/**
          filters:
            - StripPrefix=2
        - id: cart-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/v1/cart/**
          filters:
            - StripPrefix=2
  security:
    oauth2:
      resourceserver:
        jwt:
          public-key-location: classpath:jwt/public.pem
  data:
    redis:
      host: localhost
      port: 6379