spring:
  application:
    name: product

  datasource:
    url: jdbc:postgresql://localhost:5432/product_db
    username: appuser
    password: apppassword
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080

logging:
  level:
    root: INFO

springdoc:
  swagger-ui:
    path: /product/swagger
    disable-swagger-default-url: true
    use-root-path: false
  api-docs:
    path: /product-docs