version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: cart-mongo
    restart: always
    ports:
      - "28017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
      MONGO_INITDB_DATABASE: cart_db
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
