spring:
  application:
    name: cart-service
  
  data:
    redis:
      host: localhost
      port: 6379
      password: marketplace_pass
      timeout: 60000ms

server:
  port: 8083

# Logging
logging:
  level:
    com.marketplace.cart: DEBUG
    org.springframework.data.redis: DEBUG
