server:
  port: 8081

spring:
  application:
    name: member-service
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/member_db}
    username: ${DATABASE_USER:postgres}
    password: ${DATABASE_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: ${JWT_SECRET:5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437}

springdoc:
  packages-to-scan: com.example.memberservice.controller